.top-nav{
    background-color: #FF7E00;
    padding:0;
    display: flex;
    justify-content: baseline;
    font-size: 11pt;
    position: relative;
    box-shadow: 0 4px 2px -2px gray;
}
.top-nav a{
    text-decoration: none;
    color:white;
    font-size:11px;
    margin:0;
    padding:10px;

}
.top-nav>.nav-group{
    list-style:none;
    display:flex;
    flex-wrap: nowrap;
    margin:0;
    padding:0;
}
.top-nav>.nav-group>li{
    margin:0;
    padding:0;
    display: flex;
}

.top-nav>.nav-group>li>ul>li>a{
    width:100%;
}
.top-nav>.nav-group>li:hover > ul{
    display: block;
}
.top-nav>.nav-group>li>ul{
    display: none;
    position:absolute;
    list-style:none;
    top:100%;
    background: #FF7E00;
    margin:0;
    padding:0;
    box-shadow: 0 4px 2px -2px gray;
}
.top-nav>.nav-group>li>ul>li{
    border-left: 3px solid #A976FF;
    display: flex;
}
.top-nav>.nav-group>li>ul>li:hover>ul{
    display: block;
}
.top-nav>.nav-group>li>ul>li>ul{
    display:none;
    position:absolute;
    list-style:none;
    left:100%;
    background: #FF7E00;
    margin:0;
    padding:0;
    box-shadow: 0 4px 2px -2px gray;
}
.top-nav>.nav-group>li>ul>li>ul>li{
    width:150px;
    display: flex;
    border-left: 3px solid #A976FF;
}
.top-nav>.nav-group>li>ul>li>ul>li>a{
    width:100%;
}

.top-nav li:hover{
    background-color: #E8D72A;
    color:#E80B3E;
}
.top-nav>a:hover{
    background-color: #E8D72A;
    color:#E80B3E;
}