.pilihan{
    margin-top: 30px;
    margin-bottom:20px;
}
.form-group{
    display: flex;
    font-size:1tpx;
    vertical-align: middle;
}
.form-group>label{
    width: 10%;
}
.form-group>.c1{
    width:10%;
}
.form-group>.btnlookup{
    width:2.5%;
    background-color: inherit;
    border:none;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
}
.form-group>.btnlookup:hover{
    background-color: #A976FF;
    color:#fff;
}
.form-group>.btnlookup:active{
    background-color: #8668f6;
}
.form-group>.c2{
    width: 68%;
}