.pilihan{
    margin-top: 30px;
    margin-bottom:20px;
}
.form-group{
    display: flex;
    font-size:1tpx;
    vertical-align: middle;
}
.form-group>label{
    width: 10%;
}
.form-group>.c1{
    width:10%;
}
.form-group>.btnlookup{
    width:2.5%;
    background-color: inherit;
    border:none;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
}
.form-group>.btnlookup:hover{
    background-color: #A976FF;
    color:#fff;
}
.form-group>.btnlookup:active{
    background-color: #8668f6;
}
.form-group>.c2{
    width: 68%;
}
table.table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
}
table.table>thead{
    border-top:1px solid rgb(221, 221, 221);
    border-bottom:1px solid rgb(242, 238, 238);
    background-color: #E8D72A;
    color: #A976FF;
}
table.table>thead>tr>th{
    padding:10px;
    text-align: left;
}
table.table tbody tr{
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(233, 237, 242);
}
table.table tbody tr td{
    padding:5px;
    color: rgb(49, 49, 49);
}